<div class="row">
  <div class="col m3"></div>
  <div class="col m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">ALC 4.0: Challenge 2.0 Submission</span>
        <p>This form enables Learners in the Android and Cloud Track to submit their Challenge for the ALC team to
          review.</p>
        <div *ngIf="!submitted else showSubmitted">
        <p class="red-text">required *</p>
        <div class="row">
          <form class="col s12" (ngSubmit)="onSubmit(myForm.value)" [formGroup]="myForm" >
            <div class="row">
              <div class="input-field col s12">
                <input class="validate"  required formControlName="email" id="email"  type="email">
                <label for="email">Email *</label>
                <div>
                  <div *ngIf="myForm.get('email').touched && myForm.get('email').errors?.required">
                    <span class="helper-text">Your Email is required</span>

                  </div>
                  <div *ngIf="myForm.get('email').touched &&  myForm.get('email').errors?.email">
                    <span class="helper-text">Email is invalid</span>
                  </div>


               </div>

              </div>
              <div class="input-field col s12">
                <input class="validate" required formControlName="fullName" id="fullName"  type="text">
                <label for="fullName">Full Name *</label>
                <div *ngIf="myForm.get('fullName').touched && myForm.get('fullName').errors?.required">
                  <span class="helper-text">Your FullName is required</span>

                </div>
              </div>
              <div class="col s12">
                <label>Track *</label>
                <p>
                  <label>
                    <input name="track" required formControlName="track" [checked]="true" type="radio" value="Android"  />
                    <span>Android</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="track" required formControlName="track" value="Cloud" type="radio" />
                    <span>Cloud</span>
                  </label>
                </p>

                <br>
              </div>

              <div class="screenshots">
                <div class="input-field col s12">
                  <input id="screenshots" required formControlName="screenshots" type="text" class="validate">
                  <label for="screenshots">Link to your Screenshots folder *</label>
                  <div *ngIf="myForm.get('screenshots').touched && myForm.get('screenshots').errors?.required">
                    <span class="helper-text">Your Submission Folder Link is required</span>

                  </div>
                  <small>We expect you to have finished the challenge and have added the files to an open folder</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="github" type="url" formControlName="githubURL"  class="validate">
                <label for="github">Link to project Repo Github (Android Only)</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="feedback" formControlName="feedback" class="materialize-textarea" placeholder="Your Answer"></textarea>
                <label for="feedback">Feedback</label>
              </div>
            </div>

            <div *ngIf="isSubmitting" class="preloader-wrapper align-center big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
              </div>
            </div>
            <input [disabled]="myForm.invalid" type="submit" class="waves-effect waves-light btn white-text" value="Submit" />

          </form>

        </div>




        </div>
        <ng-template #showSubmitted>
          <h5 class="green-text flow-text">Thanks for submitting your assignment, we wish you all the best.</h5>
        </ng-template>
      </div>

    </div>

    <div class="footer">
      <p class="center-align">This content is neither created nor endorsed by Google.<p>
      <p class="center-align">Report Abuse - Terms of Service</p>

    </div>
    <div>
      <p class="center-align"><img src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg" alt="Google" height="24px" width="74px"></p>
    </div>
    <div class="fixed-action-btn">
      <a href="#" class="btn-floating grey btn-sm"><i class="large material-icons">mode_comment</i></a>
    </div>
  </div>

  <div class="col m3"></div>
</div>
