<div class="row">
  <div class="col s3 m0 hide-on-small-only"></div>
  <div class="col s4 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">ALC 4.0: Challenge 2.0 Submission</span>
        <p>This form enables Learners in the Android and Cloud Track to submit their Challenge for the ALC team to
          review.</p>
        <p class="red-text">required *</p>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input class="validate" formControlName="email" id="email" placeholder="Your Email" type="email">
                <label for="email">Email *</label>
              </div>
              <div class="input-field col s12">
                <input class="validate" formControlName="fullname" id="fullName" placeholder="Your Name" type="text">
                <label for="fullName">Full Name *</label>
              </div>
              <div class="col s12">
                <label>Track *</label>
                <p>
                  <label>
                    <input name="group1" type="radio" checked />
                    <span>Android</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="group1" type="radio" />
                    <span>Cloud</span>
                  </label>
                </p>

                <br>
              </div>

              <div class="screenshots">
                <div class="input-field col s12">
                  <input id="full_name" placeholder="Your Answer" type="text" class="validate">
                  <label for="full_name">Link to your Screenshots folder *</label>
                  <small>We expect you to have finished the challenge and have added the files to an open folder</small>
                </div>
              </div>



            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="github" type="url" placeholder="Github URL" class="validate">
                <label for="github">Link to project Repo Github (Android Only)</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="feedback" class="materialize-textarea" placeholder="Your Answer"></textarea>
                <label for="feedback">Feedback</label>
              </div>
            </div>
            <input type="submit" class="waves-effect waves-light btn white-text" value="Submit" />
          </form>
        </div>



      </div>

    </div>

    <div class="footer">
      <p class="center-align">This content is neither created nor endorsed by Google.<p>
      <p class="center-align">Report Abuse - Terms of Service</p>

    </div>
    <div>
      <p class="center-align"><img src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg" alt="Google" height="24px" width="74px"></p>

    </div>

    <!-- FIXED ACTION BUTTON -->
    <div class="fixed-action-btn">
      <a href="#" class="btn-floating grey btn-sm"><i class="large material-icons">mode_comment</i></a>
      <ul>
        <li><a href="#" class="btn-floating yellow btn-large"><i class="large material-icons">insert_chart</i></a></li>
        <li><a href="#" class="btn-floating blue btn-large"><i class="large material-icons">format_quote</i></a></li>
        <li><a href="#" class="btn-floating green btn-large"><i class="large material-icons">publish</i></a></li>
        <li><a href="#" class="btn-floating orange btn-large"><i class="large material-icons">attach_file</i></a></li>
      </ul>
    </div>
  </div>

  <div class="col s3"></div>
</div>
